/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

.fix {
    overflow: hidden
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: rgba(241, 241, 241, 1);
}

.test {
    font-family: 'Nunito', sans-serif;
}

a, a:hover {
    text-decoration: none;
}

/* Navigation Area Start Here */

.navigation-area {
    width: 100%;
    height: 56px;
    background: #fff;
}

.navigation-area .logo {
    height: 45px;
    width: 200px;
}

.menu {
    position: relative;
    z-index: 999999999;
    top: 0;
    left: -15px;
    width: 112%;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu .menu-item a {
    padding: 15px 25px;
    font-size: 16px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.menu .menu-item {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu .menu-item a span {
    margin-left: 15px;
}

.menu .menu-icon {
    display: block;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: -30px;
    right: 45px;
}

.menu .nav-icon {
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    background: #000;
    transition: background .2s ease-out;
}

.menu .menu-icon .nav-icon::before {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    top: 7px;
    transition: all .2s ease-out;
}

.menu .menu-icon .nav-icon::after {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    top: -7px;
    transition: all .2s ease-out;
}

.menu .menu-btn {
    display: none;
}

.menu .menu-btn:checked~.menu-item {
    width: 100%;
    max-height: 800px;
    background-color: #345997;
    position: relative;
    top: 11px;
}

.menu .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.menu .menu-btn:checked~.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}

.menu .menu-btn:checked~.menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}

@media only screen and (min-width:768px) {
    .navigation-area .logo {
        height: 45px;
        width: 200px;
    }
    .menu {
        width: 100%;
        left: 0;
    }
    .menu .menu-item a {
        all: unset;
        color: #000;
    }
    .menu .menu-item {
        all: unset;
        height: 56px;
        line-height: 56px;
    }
    .menu ul li {
        list-style: none;
        display: inline-block;
        margin-left: 50px;
        cursor: pointer;
        color: #000;
    }
    .menu ul li:first-child {
        margin-left: 0px;
    }
    .menu ul li:last-child {
        margin-left: 213px;
    }
    .menu ul li a {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #000;
        cursor: pointer;
    }
    .menu ul li a i {
        color: gray;
        font-size: 18px;
    }
    .menu ul li a span {
        margin-left: 8px;
    }
    .menu .menu-item a:hover {
        background: transparent;
    }
    .menu .menu-icon {
        display: none;
    }
    .menu .menu-item img {
        vertical-align: middle;
        margin-top: -5px;
    }
    #myDIV {
        position: absolute;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.08);
        height: 205px;
        width: 180px;
        font-family: 'Nunito';
        border-radius: 0px 0px 5px 5px;
        top: 56px;
        right: 0px;
    }
    #exportDIV {
        position: absolute;
        width: 67px;
        height: 58px;
        background: #FFFFFF;
        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.08);
        right: 45px;
        top: 40px;
        font-family: 'Nunito';
        border-radius: 0px 0px 5px 5px;
    }
}

.dropdown-content {
    display: none;
}

.show {
    display: block;
}

.header-box {
    height: 47px;
    width: 180px;
    background: #0FD4AC;
}

.header-box h6 {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 5px;
}

.header-box h6 span {
    display: block;
    font-size: 11px;
    color: #393939;
    font-weight: 400;
    margin-top: 2px;
}

.plan-menu {
    z-index: 999999;
}

.plan-menu ul {
    list-style-type: none;
    width: 180px;
}

.plan-menu ul li {
    display: block;
    margin-left: 10px !important;
}

.menu .plan-menu {
    line-height: 28px !important;
}

.plan-menu ul li.new:before {
    color: #E5E5E5;
    content: "";
    padding-right: 0;
    position: relative;
    left: -3px;
    margin-left: 0px;
}

.plan-menu ul li.borders {
    border-bottom: 3px solid #E5E5E5;
    border-radius: 7px;
    padding: 0;
    margin: 0;
    width: 130px;
    margin-left: 35px !important;
}

.plan-menu ul li a span {
    padding: 2px 0px !important;
    margin-left: 8px !important;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 15px !important;
    line-height: 20px;
    color: #393939;
}

/* Navigation Area End Here */

/* Header Area Start Here */

.header-area {
    width: 100%;
    height: 52px;
    background-color: rgba(52, 89, 151, 1);
    line-height: 52px;
}

.header-area ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header-area ul li {
    display: inline-block;
    border-right: 3px solid #C9DDFF;
    padding: 0px 20px;
}

.header-area ul li a {
    text-decoration: none;
    color: #C9DDFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
}

.header-area ul li:first-child {
    padding-left: 0px;
}

.header-area ul li:last-child {
    padding-right: 0px;
    border-right: none;
}

/* Header Area End Here */

.validation-area {
    padding: 75px 0px;
    background: rgba(241, 241, 241, 1);
}

.validation-top {
    width: 100%;
    height: 126px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    padding: 15px;
}

.validation-top h5 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 20px;
    padding: 0px 15px;
}

.input-icons {
    position: relative;
    width: 100%;
    display: inline-block;
}

.input-icons input {
    height: 36px;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    border: 0;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 40px;
}

.input-icons i {
    position: absolute;
    left: 0px;
    top: 9px;
    padding: 0px 15px;
    font-size: 18px;
    color: gray;
}

.input-icons input:focus {
    outline: none;
    border-color: #40bdee;
}

.verify-btn {
    position: absolute;
    width: 84px;
    height: 36px;
    font-size: 17px;
    background: #0FD4AC;
    color: #fff;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    font-weight: 400;
    top: 0px;
    right: 0px;
}
.verify-btn:hover{
    background-color: #345997;
    color: #fff;
    
}

.validation-bottom {
    width: 100%;
    height: 302px;
    margin-top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 15px;
}

.validation-bottom h5 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 35px;
    padding: 0px 20px;
}

.validation-bottom .elipse {
    text-align: center;
    position: relative;
    width: 176px;
    height: 176px;
    background-color: #DD8FA3;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%)
}

.elipse:after {
    content: "";
    position: absolute;
    top: 35px;
    left: 35px;
    bottom: 35px;
    right: 35px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.validation-bottom .elipse .short-logo img {
    position: absolute;
    top: 28%;
    left: 30%;
    z-index: 999;
}

.validation-bottom .status h4 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #DD8FA3;
    margin-top: 15px;
}

.validation-right {
    width: 100%;
    height: 460px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 10px 35px;
}

.validation-right-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.validation-right-header h5 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #474747;
    line-height: 35px;
}

.validation-right-header p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    position: absolute;
    right: 50px;
}

.export-menu ul {
    list-style: none;
    padding: 0px;
    text-align: center;
}

.export-menu ul li {
    display: block;
}

.br {
    width: 55px;
    height: 2px;
    background: #E5E5E5;
    border-radius: 7px;
    margin: 0px auto;
}

.export-menu ul li a {
    display: block;
    padding: 2px;
    text-decoration: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #393939;
}

.export-menu ul li a.active {
    color: #0FD4AC;
}

.table-area {
    width: 100%;
    height: 350px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.table thead tr th {
    border: none !important;
    border-bottom: 3px solid rgba(0, 0, 0, 0.05) !important;
    font-size: 10px !important;
    color: #989696;
}

.borderless td, .borderless th {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 14px;
    color: rgba(79, 75, 75, 1);
    padding: 7px 0px;
}

.valid-btn {
    width: 49px;
    height: 17px;
    background: #ECFFFF;
    border: 1px solid #D0F5F5;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: 'Nunito';
    font-size: 9px;
    font-weight: 700;
    color: #249898;
}

.invalid-btn {
    width: 49px;
    height: 17px;
    background: #FFEEF2;
    border: 1px solid #FCCED9;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: 'Nunito';
    font-size: 9px;
    font-weight: 700;
    color: #DD8FA3;
}

.valid-btn:hover {
    background: #0FD4AC;
    color: #fff;
}
.invalid-btn:hover {
    background: #DD8FA3;
    color: #fff;
}

.pagination {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.pagination-button {
    text-align: right;
}

.pagination-count h6 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #666C72;
}

.previous-btn, .next-btn {
    border: none;
    background: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #666C72;
}

.previous-btn:hover, .next-btn:hover, .active{
    color: #0FD4AC;
}
